*{
    font-family:'Noto Sans KR', sans-serif;
    list-style : style none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding:0px;
}
.header > img {
    width: 200px;
    height: 200px;
}
.intro_bg {
  
    background-size: cover;
    width: 100%;
    height: 764px;
}

.header {
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}
.nav {
    display: flex;
    justify-content: flex-end;
    width: 1280px;
    line-height: 86px;
}
.nav > li {
    list-style-type: none;
    margin-left: 84px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    
}

.nav > li > a {
    font-size: 25px;
    color: rgb(0, 0, 0);
}

footer {
    display: flex;
    background:#1f1f1f;
    padding: 30px;
    font-size: 16px;
}
    

footer > div:first-child {
    flex:3;
    text-align: center;
    color: #fff;
   
}

footer > div:last-child {
    flex:9;
    color: #fff;
}
.intro_text > table, tr {
   border: 1px solid #999;
   margin: auto;
   margin-top: 100px;
   width: 1800px;
   height: 80px;
   text-align: center;
}
   



   

    















